.bannerContainer{
    background-image: url(../../../public/generaltecbanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    min-height: 50vh;
}
.banner{
    width: 100%;
    min-height: 50vh;
    background-color: rgba(238, 237, 255, 0.941);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titr{
    color: rgb(50, 17, 214);
    padding-top: 55px;
    font-size: 45px;
    border-bottom: 3px solid rgb(50, 17, 214);
    width: fit-content;
}
.description{
    margin-top: 20px;
    width: 325px;
    font-size: 17px;
    font-weight: bold;
    direction: rtl;
    text-align: center;
    line-height: 33px;
}